<!DOCTYPE html>
<html>
<title>View All</title>
<link rel="stylesheet" href="../static/css/bloodhistory.css">
<head>
</head>
<body>
<h1>Requests</h1>
<table border="1px">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient Age</th>
            <th>Reason</th>
            <th>Blood Group</th>
            <th>Unit (in ml)</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    {%for row in sqldata%}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>