<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
    <link rel="stylesheet" href="../static/css/donordashboard.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>DONOR DASHBOARD</h2>
        <ul>
            <li><a href="/home/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/donateblood/"><i class="fas fa-hand-holding-medical"></i>Donate Blood</a></li>
            <li><a href="/donationhistory/"><i class="fas fa-history"></i>Donation History</a></li>
            <li><a href="/donorsearch/"><i class="fa fa-search"></i>Donor Search</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      </div>
      </div>