<html>
    <head>
        <meta charset="utf-8">
        <title>Login Form</title>
        <link rel="stylesheet" href="../static/css/donorlogin.css">

    </head><script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <body>
        <div class="login">
            <h1>DONOR LOGIN</h1>
            <form action="/donordashboard" method="post">
                <label for="username">
                    <i class="fa fa-user"></i>
                </label>
                <input type="text" name="USERNAME" placeholder="Username" id="username" required>
                <label for="password">
                    <i class="fa fa-lock"></i>
                </label>
                <input type="password" name="PASSWORD" placeholder="Password" id="password" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Login">
            </form>
            <p style="text-align: center;">Does not have an account ? <a style="text-decoration: none;" href="/donorregister/">Click here to register</a></p>

                </div>
    </body>
</html>