<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blood Bank Management System</title>
    <link rel="stylesheet" href="../static/css/style.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <header>
        <img src="../static/images/logo1.jpeg" width="5%" height="5%">
        
        <div class = "head-tag">
            <a href="/home/"><i class="fas fa-home"></i>Home</a>
            <a href="/patient/"><i class="fas fa-procedures"></i>Patient</a>
            <a href="/donor/"><i class="fas fa-user"></i>Donor</a>
            <a href="/admin/"><i class="fas fa-user"></i>Admin</a>
        </div>
        </header>
<h1>Blood Bank Management System</h1>
<p></p>
<img src = "../static/images/image.jpg" alt="My image" width = 50% height = 50%>
</body>
</html>